.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $min-brp-425) {
    width: 425px;
  }

  @media screen and (min-width: $min-brp-768) {
    width: 768px;
  }

  @media screen and (min-width: $min-brp-1200) {
    width: 1200px;
  }
}
