// font
$fontPrimary: 'DM Sans', sans-serif;
$fontSecondary: 'Titan One', cursive;
// fonts color
$font-main: #ffffff;
$font-main-dark: #000000;
$font-main-light: #907e82;
$font-secondary: #d41443;
$btn-primary: #d41342;
$font-secondary-light: #ffa5ba;
$font-subtitle: #ffa5ba;

// adds
$white: #fff;
$background-light: #fff5f6;
$background-color: #ffb8ca;
$background-mobile: #e17992;
$hover: #ecebeb;
$bg-review: #fafafa;
$bg-pagination: #d9d9d9;
$bg-review-line: #e1e1e1;
$border-menu: #e18298;
