<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__btn" data-modal-close>
      <svg class="modal__icon" width="18" height="18">
        <use href="/src/images/advantages/symbol-defs.svg#icon-heart"></use>
      </svg>
    </button>
    <h2 class="modal__title">About Us</h2>
    <p class="modal__text--first">
      The secret of success is in strict quality control of transportation and
      openness to a new idea! Ice cream and desserts Ice cream takes into
      account taste sensations around the world for a reason.
    </p>
    <p class="modal__text--second">
      The recipe includes cream, fruits, berries, nuts, textures. Artificial
      additives, palm oil and other questionable components are excluded. The
      factories use an old recipe - you don't have to think about your health.
    </p>
    <p class="modal__text--three">
      Ice Cream Company is the American leader in the variety of ice cream
      varieties. The Ice Cream palette has over 1000 flavors! Here are just a
      few of them: strawberry; raisin; cream biscuits; caramel; cherry; lemon
      with custard; chocolate chips; tiramisu; melon; rum; blueberries and more.
    </p>
    <p class="modal__text--four">
      The Ice Cream ball is really big, unlike other firms. Special equipment
      for rolling ice cream (Ice cream specially trains its employees),the balls
      are larger than the standard size and weigh 70g, usually instead of 50g.
      Buy Ice Cream in your city stores or go to Ice Cream branded cafes in
      Chicago, Los Angeles and New York!
    </p>
  </div>
</div>
