<section class="gallery section">
  <div class="gallery-wrapper">
    <h2 class="visually-hidden">Gallery section</h2>
    <ul class="gallery__list">
      <li class="gallery__items">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/sacha/gallery_desc_1_1x.png 1x,
              ./images/sacha/gallery_desc_1_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_tab_1_1x.png 1x,
              ./images/sacha/gallery_tab_1_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_mob_1_1x.png 1x,
              ./images/sacha/gallery_mob_1_2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            data-aos="fade-up"
            src="./images/sacha/gallery_desc_1_1x.png"
            alt="ice"
          />
        </picture>
      </li>
      <li class="gallery__items">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/sacha/gallery_desc_2_1x.png 1x,
              ./images/sacha/gallery_desc_2_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_tab_2_1x.png 1x,
              ./images/sacha/gallery_tab_2_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_mob_2_1x.png 1x,
              ./images/sacha/gallery_mob_2_2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            data-aos="fade-up"
            src="./images/sacha/gallery_desc_2_1x.png"
            alt="ice"
          />
        </picture>

        <picture class="gallery__img">
          <source
            srcset="
              ./images/sacha/gallery_desc_3_1x.png 1x,
              ./images/sacha/gallery_desc_3_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_tab_3_1x.png 1x,
              ./images/sacha/gallery_tab_3_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_mob_3_1x.png 1x,
              ./images/sacha/gallery_mob_3_2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            data-aos="fade-up"
            src="./images/sacha/gallery_desc_3_1x.png"
            alt="ice"
          />
        </picture>
      </li>

      <li class="gallery__items">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/sacha/gallery_desc_4_1x.png 1x,
              ./images/sacha/gallery_desc_4_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_tab_4_1x.png 1x,
              ./images/sacha/gallery_tab_4_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_mob_4_1x.png 1x,
              ./images/sacha/gallery_mob_4_2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            data-aos="fade-up"
            src="./images/sacha/gallery_desc_4_1x.png"
            alt="ice"
          />
        </picture>

        <picture class="gallery__img">
          <source
            srcset="
              ./images/sacha/gallery_desc_5_1x.png 1x,
              ./images/sacha/gallery_desc_5_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_tab_5_1x.png 1x,
              ./images/sacha/gallery_tab_5_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_mob_5_1x.png 1x,
              ./images/sacha/gallery_mob_5_2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            data-aos="fade-up"
            src="./images/sacha/gallery_desc_5_1x.png"
            alt="ice"
          />
        </picture>
      </li>

      <li class="gallery__items gallery-wrapper__top">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/sacha/gallery_desc_6_1x.png 1x,
              ./images/sacha/gallery_desc_6_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_tab_6_1x.png 1x,
              ./images/sacha/gallery_tab_6_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_mob_6_1x.png 1x,
              ./images/sacha/gallery_mob_6_2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            data-aos="fade-up"
            src="./images/sacha/gallery_desc_6_1x.png"
            alt="ice"
          />
        </picture>

        <picture class="gallery__img">
          <source
            srcset="
              ./images/sacha/gallery_desc_7_1x.png 1x,
              ./images/sacha/gallery_desc_7_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_tab_7_1x.png 1x,
              ./images/sacha/gallery_tab_7_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_mob_7_1x.png 1x,
              ./images/sacha/gallery_mob_7_2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            data-aos="fade-up"
            src="./images/sacha/gallery_desc_7_1x.png"
            alt="ice"
          />
        </picture>
      </li>

      <li class="gallery__items gallery-wrapper__bottom">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/sacha/gallery_desc_8_1x.png 1x,
              ./images/sacha/gallery_desc_8_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_tab_8_1x.png 1x,
              ./images/sacha/gallery_tab_8_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_mob_8_1x.png 1x,
              ./images/sacha/gallery_mob_8_2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            data-aos="fade-up"
            src="./images/sacha/gallery_desc_8_1x.png"
            alt="ice"
          />
        </picture>
        <picture class="gallery__img">
          <source
            srcset="
              ./images/sacha/gallery_desc_9_1x.png 1x,
              ./images/sacha/gallery_desc_9_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_tab_9_1x.png 1x,
              ./images/sacha/gallery_tab_9_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_mob_9_1x.png 1x,
              ./images/sacha/gallery_mob_9_2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            data-aos="fade-up"
            src="./images/sacha/gallery_desc_9_1x.png"
            alt="ice"
          />
        </picture>
      </li>

      <li class="gallery__items">
        <picture class="gallery__img">
          <source
            srcset="
              ./images/sacha/gallery_desc_10_1x.png 1x,
              ./images/sacha/gallery_desc_10_2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_tab_10_1x.png 1x,
              ./images/sacha/gallery_tab_10_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/sacha/gallery_mob_10_1x.png 1x,
              ./images/sacha/gallery_mob_10_2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            data-aos="fade-up"
            src="./images/sacha/gallery_desc_10_1x.png"
            alt="ice"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
