<section class="section-hero__bg">
  <div class="container hero-bg hero-wrapper">
    <div class="hero">
      <h1 class="hero-title">ice cream made with <span>passion</span></h1>
      <ul class="hero-links">
        <li><a class="btn btn-primary" href="#products">Products</a></li>
        <li>
          <a class="btn btn-secondary" href="#advantages">How it’s made?</a>
        </li>
      </ul>
      <div class="hero-subtitle">
        <div>
          <p class="hero-subtitle__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="hero-subtitle__link" href="#advantages">
            <img src="/src/images/hero/arrow-right.png" alt="link" />
          </a>
        </div>
      </div>
    </div>

    <picture>
      <source
        srcset="
          ./images/hero/slider-pic5.png          1x,
          ./images/hero/retina/x2slider-pic5.png 2x
        "
        media="(min-width: 1200px)"
      />
      <img
        data-aos="fade-right"
        class="hero-bio"
        src="/src/images/hero/slider-pic5.png"
        alt="Bio_Eco_milk"
      />
    </picture>

    <img
      class="hero-ellipse shake-ellipse"
      src="/src/images/hero/Ellipse.png"
      alt="red"
    />
    <picture>
      <source
        srcset="
          ./images/hero/slider-pic7.png          1x,
          ./images/hero/retina/x2slider-pic7.png 2x
        "
        media="(min-width: 1200px)"
      />
      <img
        class="hero-icecream"
        src="/src/images/hero/slider-pic7.png"
        alt="icecream"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hero/slider-pic4.png          1x,
          ./images/hero/retina/x2slider-pic4.png 2x
        "
        media="(min-width: 1200px)"
      />
      <img
        class="hero-tasty shake-vertical"
        src="/src/images/hero/slider-pic4.png"
        alt="tasty"
      />
    </picture>
    <ul class="count">
      <li>
        <span class="count-nomber">16</span>
        <p class="count-text">cafes</p>
      </li>
      <li>
        <span class="count-nomber">23</span>
        <p class="count-text">food trucks</p>
      </li>
    </ul>
  </div>
</section>
