<section id="products" class="section products">
  <div class="container">
    <p class="products-subtitle section-subtitle">100% natural</p>
    <h2 class="products-header section-title">Products</h2>
    <ul class="products-list list">
      <li class="products-item" data-aos="fade-right">
        <h3 class="products-title">Ice cream</h3>
        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <p class="products-text text-hidden is-hidden" data-text-hidden>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="products-button" data-tex-show>
          <picture>
            <!-- fixx -->
            <source
              srcset="
                ./images/products/products-button-img.png    1x,
                ./images/products/products-button-img-2x.png 2x
              "
            />
            <img
              src="./images/products/products-button-img.png"
              alt="Значок стрелки"
              width="40"
            />
          </picture>
        </button>
      </li>
      <li data-aos="fade-up" class="products-item">
        <h3 class="products-title">Ice coffee</h3>
        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <p class="products-text text-hidden is-hidden" data-text-hidden>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="products-button" data-tex-show>
          <picture>
            <source
              srcset="
                ./images/products/products-button-img.png    1x,
                ./images/products/products-button-img-2x.png 2x
              "
            />
            <img
              src="./images/products/products-button-img.png"
              alt="Значок стрелки"
              width="40"
            />
          </picture>
        </button>
      </li>
      <li data-aos="fade-left" class="products-item">
        <h3 class="products-title">Milkshakes</h3>
        <p class="products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <p class="products-text text-hidden is-hidden" data-text-hidden>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="products-button" data-tex-show>
          <picture>
            <source
              srcset="
                ./images/products/products-button-img.png    1x,
                ./images/products/products-button-img-2x.png 2x
              "
            />
            <img
              src="./images/products/products-button-img.png"
              alt="Значок стрелки"
              width="40"
            />
          </picture>
        </button>
      </li>
    </ul>
  </div>
</section>
