<section id="review" class="section">
  <div class="container">
    <h2 class="visually-hidden">Reviews section</h2>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/reviews/testimonials1.png    1x,
                ./images/reviews/testimonials1@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              width="85"
              src="/src/images/reviews/testimonials1.png"
              alt="reviews"
            />
          </picture>
          <div class="swiper-slide__content">
            <div class="reviews-comment__wrapper">
              <p class="reviews-comment">
                <svg class="swiper-slide__icon" width="54" height="40">
                  <use
                    href="./images/svg-sprite/symbol.svg#icon-untitled"
                  ></use>
                </svg>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <svg width="32" height="4">
              <use href="./images/svg-sprite/symbol.svg#icon-Group-8-1"></use>
            </svg>
            <span>Emily, Los Angeles</span>
          </div>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/reviews/collaborator1.png   1x,
                ./images/reviews/collaborator1x2.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              width="85"
              src="/src/images/reviews/collaborator1.png"
              alt="reviews"
            />
          </picture>
          <div class="swiper-slide__content">
            <div class="reviews-comment__wrapper">
              <p class="reviews-comment">
                <svg class="swiper-slide__icon" width="54" height="40">
                  <use
                    href="./images/svg-sprite/symbol.svg#icon-untitled"
                  ></use>
                </svg>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <svg width="32" height="4">
              <use href="./images/svg-sprite/symbol.svg#icon-Group-8-1"></use>
            </svg>
            <span>Yana, Odessa</span>
          </div>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/reviews/collaborator2.png   1x,
                ./images/reviews/collaborator2x2.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              width="85"
              src="/src/images/reviews/collaborator2.png"
              alt="reviews"
            />
          </picture>
          <div class="swiper-slide__content">
            <div class="reviews-comment__wrapper">
              <p class="reviews-comment">
                <svg class="swiper-slide__icon" width="54" height="40">
                  <use
                    href="./images/svg-sprite/symbol.svg#icon-untitled"
                  ></use>
                </svg>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <svg width="32" height="4">
              <use href="./images/svg-sprite/symbol.svg#icon-Group-8-1"></use>
            </svg>
            <span>Oleksandr, Kharkiv</span>
          </div>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/reviews/collaborator3.png   1x,
                ./images/reviews/collaborator3x2.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              width="85"
              src="/src/images/reviews/collaborator3.png"
              alt="reviews"
            />
          </picture>
          <div class="swiper-slide__content">
            <div class="reviews-comment__wrapper">
              <p class="reviews-comment">
                <svg class="swiper-slide__icon" width="54" height="40">
                  <use
                    href="./images/svg-sprite/symbol.svg#icon-untitled"
                  ></use>
                </svg>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <svg width="32" height="4">
              <use href="./images/svg-sprite/symbol.svg#icon-Group-8-1"></use>
            </svg>
            <span>Andriy, Kyiv</span>
          </div>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/reviews/collaborator4.png   1x,
                ./images/reviews/collaborator4x2.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              width="85"
              src="/src/images/reviews/collaborator4.png"
              alt="reviews"
            />
          </picture>
          <div class="swiper-slide__content">
            <div class="reviews-comment__wrapper">
              <p class="reviews-comment">
                <svg class="swiper-slide__icon" width="54" height="40">
                  <use
                    href="./images/svg-sprite/symbol.svg#icon-untitled"
                  ></use>
                </svg>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <svg width="32" height="4">
              <use href="./images/svg-sprite/symbol.svg#icon-Group-8-1"></use>
            </svg>
            <span>Volodymyr, Khmelnytskyi</span>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->
    </div>
  </div>
</section>
